#gitdb2
contextlib2; python_version <= '2.7'

## Dev dependencies - FIXME: remember to remove them before release.
-e git+https://github.com/ankostis/smmap.git@v2.1.1.dev0#egg=smmap2
-e git+https://github.com/ankostis/gitdb.git@v2.1.1.dev0#egg=gitdb2
